// Заголовки, общие БЄМ блоки и проче...

.products-slider {
  // .products-slider__container

  &__container {
  }

  // .products-slider__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  // .products-slider__title

  &__title {
    letter-spacing: 0.05em;
    font-size: rem(30);
    font-weight: 700;
    line-height: math.div(46, 30);
  }

  // .products-slider__more

  &__more {
    color: rgba(20, 20, 20, 0.58);
    transition: color 0.3s ease 0s;
    font-weight: 600;
    font-size: rem(18);
    display: inline-flex;
    align-items: center;
    gap: em(15, 18);
    &::after {
      content: "";
      @extend %ic;
      content: "\e900";
      font-size: em(7, 18);
      transform: rotate(-90deg);
      color: $mainOrange;
    }
    @media (any-hover: hover) {
      &:hover {
        color: rgba(20, 20, 20, 1);
      }
    }
  }

  // .products-slider__slider

  &__slider {
    padding: rem(15);
    margin: 0px rem(-15);
  }

  // .products-slider__swiper

  &__swiper {
  }

  // .products-slider__slide

  &__slide {
  }
}
.product-card {
  display: grid;
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }

  // .product-card__image-ibg

  &__image-ibg {
    padding-bottom: percent(295, 375);
    // .product-card__image-ibg_contain

    &_contain {
    }
  }

  // .product-card__body

  &__body {
    padding: rem(20);
  }

  // .product-card__title

  &__title {
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
    &:not(:last-child) {
      margin-bottom: em(10, 20);
    }
  }

  // .product-card__linl-title

  &__link-title {
  }

  // .product-card__info

  &__info {
    &:not(:last-child) {
      margin-bottom: em(15, 16);
    }
  }

  // .product-card__rating

  &__rating {
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }

  // .product-card__footer

  &__footer {
    border-top: 1px solid rgba(20, 20, 20, 0.5);
    padding: rem(20) rem(0);
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  // .product-card__price

  &__price {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }
  &__favorite,
  &__compare {
    font-size: rem(24);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $mainOrange;
      }
    }
  }

  // .product-card__compare

  &__compare {
  }

  // .product-card__favorite

  &__favorite {
  }

  // .product-card__cart

  &__cart {
    span {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      &::before {
        margin: rem(0) rem(0) rem(0) rem(16);
      }
    }
  }
}
.info-product-card {
  color: #ababab;
  display: flex;
  justify-content: space-between;
  gap: rem(10);
  font-size: rem(16);

  // .info-product-card__size

  &__size {
  }

  // .info-product-card__materials

  &__materials {
  }

  // .info-product-card__rating

  &__rating {
  }
}
