//====================================================================================================
.footer {
  // .footer__text

  &__text {
  }

  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
  }
}
.text-footer {
    @include adaptiveValue("margin-top", 60 , 40);
    @include adaptiveValue("margin-bottom", 60 , 40);
  background: url("@img/footer/bgfooter.jpg") top/ cover no-repeat;
  // .text-footer__container

  &__container {
  }

  // .text-footer__title

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: rem(30);
    line-height: math.div(46, 30);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }

  // .text-footer__text

  &__text {
    color: #fff;
    font-size: rem(18);
    line-height: math.div(27, 18);
  }
}
.body-footer {
}

//====================================================================================================
