//====================================================================================================
.footer {
  background-color: $mainDarkColor;
  // .footer__text

  &__text {
  }

  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
  }
}
.text-footer {
  @include adaptiveValue("padding-top", 60, 40);
  @include adaptiveValue("padding-bottom", 60, 40);
  background: url("@img/footer/bgfooter.jpg") top/ cover no-repeat;
  // .text-footer__container

  &__container {
  }

  // .text-footer__title

  &__title {
    text-align: center;
    font-weight: bold;
    color: $mainOrange;
    @include adaptiveValue("font-size", 30, 24);
    line-height: math.div(46, 30);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }

  // .text-footer__text

  &__text {
    color: #fff;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(27, 18);
  }
}

.body-footer {
  // .body-footer__row

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    gap: rem(20);
  }

  // .body-footer__item

  &__item {
  }
}
.item-footer {
  // .item-footer__spoller

  &__spoller {
  }
}
.spoller-item-footer {
  // .spoller-item-footer__item

  &__item {
  }

  // .spoller-item-footer__title

  &__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: math.div(22, 18);
  }

  // .spoller-item-footer__body

  &__body {
  }
}
.menu-footer {
  // .menu-footer__list

  &__list {
  }

  // .menu-footer__item

  &__item {
  }

  // .menu-footer__link

  &__link {
  }
}

//====================================================================================================
