.product {
  // .product__container

  &__container {
  }

  // .product__main

  &__main {
    @include adaptiveValue("margin-bottom", 120, 40);
  }
  // .product__info

  &__info {
    @include adaptiveValue("margin-bottom", 120, 40);
  }
}
.main-product {
  display: grid;
  align-items: start;

  // .main-product__images

  &__images {
    @media (min-width: $tablet) {
      padding: 0px rem(30) 0px 0px;
    }
  }
  @media (min-width: $tablet) {
    grid-template-columns: percent(785, 1600) 1fr;
  }
}
.images-product {
  display: grid;
  gap: rem(16);
  // .images-product__slider

  &__slider {
  }

  // .images-product__swiper

  &__swiper {
  }

  // .images-product__slide-ibg

  &__slide-ibg {
    padding-bottom: percent(577, 754);
  }

  // .images-product__thumbs

  &__thumbs {
  }
}
.thumbs-images {
  // .thumbs-images__swiper

  &__swiper {
  }

  // .thumbs-images__slide-ibg

  &__slide-ibg {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    padding-bottom: percent(177, 754);
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}

.body-product {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  @include adaptiveValue("padding", 30, 15);
  // .body-product__header

  &__header {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: 0px 0px rem(30) 0px;
    @media (max-width: $mobileSmall) {
      border-top: 1px solid rgba(20, 20, 20, 0.15);
      padding: rem(15) 0px rem(15) 0px;
    }
  }

  // .body-product__table

  &__table {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: rem(30) 0px;
  }

  // .body-product__options

  &__options {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: rem(30) 0px;
  }

  // .body-product__actions

  &__actions {
    padding: rem(30) 0px 0 0;
  }
}
.header-product {
  // .header-product__line

  &__line {
    display: flex;
    column-gap: rem(30);
    row-gap: rem(15);
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .header-product__box-title
  .box-title {
    &__title {
      @include adaptiveValue("font-size", 24, 16);
      @include adaptiveValue("margin-bottom", 15, 7);
      font-weight: 700;
      // line-height: math.div(29, 24);
      white-space: nowrap;
      // flex: 1 1 100%;
    }
    &__available {
      @include adaptiveValue("font-size", 16, 14);
      // font-size: rem(16);
      // line-height: math.div(20, 16);
      color: #24ad53;
    }
  }
  // .header-product__box-icons
  .box-icons {
    display: flex;
    flex: 1 1 100%;
    @include adaptiveValue("column-gap", 30, 15);
    row-gap: rem(15);
    // justify-content: space-between;
    // align-items: flex-end;
    // flex-basis: auto;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    // .box-icons__link

    &__link {
      order: 2;
      @include adaptiveValue("font-size", 26, 18);
      @media (max-width: $mobile) {
        order: 1;
      }
    }

    // .box-icons__rating
    .rating {
      @include adaptiveValue("font-size", 26, 14);
    }
    &__rating {
      order: 1;
      flex: 1 1 100%;
      justify-content: space-between;
      @media (max-width: $mobile) {
        order: 2;
        justify-content: flex-end;
      }
    }
  }
}

.table-product {
  display: grid;

  gap: rem(20);

  // .table-product__label

  &__label {
    @include adaptiveValue("font-size", 18, 14);
  }

  // .table-product__value

  &__value {
    @include adaptiveValue("font-size", 18, 14);
    color: rgba(20, 20, 20, 0.5);
  }
  @media (min-width: $tablet) {
    grid-template-columns: rem(200) 1fr;
  }
}
.options-product {
  display: grid;
  @media (min-width: $tablet) {
    grid-template-columns: rem(200) 1fr;
  }
  gap: rem(20);
  // .options-product__label

  &__label {
    @include adaptiveValue("font-size", 18, 14);
    align-self: center;
  }

  // .options-product__value

  &__value {
    font-size: rem(14);
    line-height: math.div(17, 14);
  }
}
.actions-product {
  // .actions-product

  .price-point-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: em(35, 30);
    }
    // .price-point-box__price
    &__price {
      flex-shrink: 0;
      font-size: rem(30);
      font-weight: 700;
      display: inline-block;
      line-height: math.div(37, 30);
      background: url("@img/iconsfont/rub.svg") right no-repeat;
      padding: 0px rem(30) 0px 0px;
    }
    // .price-point-box__point
    &__point {
      text-align: right;
      font-size: rem(14);
      line-height: math.div(17, 14);
      color: rgba(20, 20, 20, 0.5);
      position: relative;
      margin-right: rem(35);
      @media (max-width: $mobileSmall) {
        margin-right: rem(0);
      }
      &:after {
        // right: -21px;
        margin-left: rem(15);
        position: absolute;
        content: "?";
        text-align: center;
        color: #000;
        width: rem(19);
        height: rem(19);
        border-radius: 50%;
        background: rgba(20, 20, 20, 0.3);
        @media (max-width: $mobileSmall) {
          margin-left: rem(0);
          right: 0px;
          bottom: -35px;
          // margin-top: rem(15);
          // margin-right: rem(20);
        }
      }
    }
  }

  // .actions-product__row

  &__row {
    display: flex;
    gap: rem(20);
    @media (max-width: em(1520)) {
      flex-direction: column;
    }
  }

  // .actions-product__quantity

  &__quantity {
    @media (max-width: $mobileSmall) {
      width: rem(120);
      height: rem(40);
    }
    .quantity__button {
      @media (max-width: $mobileSmall) {
        flex: 0 0 40px;
        width: rem(40);
        height: rem(40);
      }
      &::before,
      &::after {
        background-color: rgba(255, 255, 255, 1);
      }
    }
    .quantity__input {
      input {
        color: #000;
        font-size: rem(18);
        line-height: math.div(22, 18);
      }
    }
  }

  // .actions-product__buttons

  &__buttons {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    @media (min-width: em(1520)) {
      justify-content: flex-end;
    }
  }

  // .actions-product__cart

  &__cart {
    span {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      &::before {
        margin: 0px 0 0px rem(20);
      }
    }
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}

.product-info {
  @media (max-width: $mobileSmall) {
    display: none;
  }
  background: fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: rem(10) rem(30) 0 rem(30);
  @media (max-width: $mobile) {
    padding: rem(10) rem(15) 0 rem(15);
  }
  // .product-info__navigation

  &__navigation {
    display: flex;
    justify-content: flex-start;
    @include adaptiveValue("gap", 60, 10);
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  }

  // .product-info__title

  &__title {
    @include adaptiveValue("font-size", 20, 16);
    padding: rem(20) 0;
    line-height: math.div(24, 20);
    color: rgba(20, 20, 20, 0.5);
    position: relative;
    &._tab-active {
      font-weight: 700;
      color: rgba(20, 20, 20, 1);
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -1px;
        left: 0;
        background-color: $mainOrange;
      }
    }
  }

  // .product-info__content

  &__content {
    padding: rem(30) 0 0 0;
  }

  // .product-info__body

  &__body {
    color: rgba(20, 20, 20, 1);
    font-size: rem(18);
    line-height: math.div(22, 18);
    &_1 {
      // font-weight: 600;
      line-height: math.div(27, 18);
      p {
        padding-bottom: rem(30);
      }
    }
    &_2 {
      .body-2__items {
        display: flex;
        .body-2__item {
          padding: rem(30) rem(30) rem(30) rem(30);
          width: 33%;
          @media (max-width: $mobile) {
            padding: rem(15) rem(15) rem(15) rem(15);
          }

          &:first-child {
            padding: rem(30) rem(30) rem(30) 0;
            @media (max-width: $mobile) {
              padding: rem(15) rem(15) rem(15) 0;
            }
          }

          &:not(:last-child) {
            border-right: solid 1px rgba(20, 20, 20, 0.15);
          }
          h1 {
            font-weight: 700;
            @include adaptiveValue("font-size", 18, 14);
            line-height: math.div(22, 18);
            padding: 0 0 rem(30) 0;
          }
          .item-grid {
            display: grid;
            gap: rem(20);
            @media (max-width: $mobile) {
              font-size: rem(16);
            }
            @media (min-width: $tablet) {
              grid-template-columns: auto 1fr;
            }
          }
        }
      }
    }
    &_3 {
      .body-3__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: rem(20);
        padding: rem(30) 0 rem(30) 0;
      }
    }
  }
  // .product-info__list
  &__list {
    @media (min-width: $mobileSmall) {
      display: none;
    }
  }
  // .product-info__item

  &__item {
    // background-color: rgba(20, 20, 20, 1);
    // color: rgba(255, 255, 255, 1);
    margin-bottom: rem(10);
    border-radius: 3px;
  }
}
.item-spoler {
  // .item-spoler__title

  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    background-color: rgba(20, 20, 20, 1);
    color: rgba(255, 255, 255, 1);

    padding: rem(11) rem(18);

    @include adaptiveValue("font-size", 16, 14, 480, 320);
    line-height: math.div(17, 14);

    &::before {
      font-size: rem(8);
      transform: rotate(0deg);
      transition: transform 0.3s ease 0s;
    }
    &._spoller-active {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // .item-spoler__body

  &__body {
  }
}
